$border: 1px solid white
$mainColor: #4a0565
$accentColor: #ffb445
$inputColor: white //rgb(169, 169, 169)

$mainFontColor: #209e91
$mainFontColorHover: #1b867b
$commonFontColor: white
$commonFontColorInvert: #444
$wSideBar: 52px
$WSideBar: 180px

$color-success: #24b13e
//#3c763d
$color-info: #31708f // #31708f
$color-danger: #a94442 // #a94442
$color-warning: #f39c12 // #8a6d3b

$mediaXS: 'all and (max-width: 767px)'
$mediaMD: 'all and (max-width: 1199px)'
$mediaSM: 'all and (max-width: 991px)'
$mediaLG: 'all and (min-width: 1200px)'
$mediaSM-: 'all and (min-width: 991px)'
$media-500: 'all and (max-width: 500px)'
$media-560: 'all and (max-width: 560px)'
$media-660: 'all and (max-width: 660px)'
%border
  border: $border
=_border()
  border: $border
=backgroundTrans($transparantcy: 0.3)
  background-color: rgba(0, 0, 0, $transparantcy)
=borderStandart($side:'bottom')
  border-#{$side}: 1px solid rgba(0,0,0,.12)
  @if($side=='bottom')
    box-shadow: 0 1px 0 0 rgba(255,255,255,.12)
  @else if($side=='right')
    box-shadow: 1px 0 0 0 rgba(255,255,255,.12)
  @else if($side=='top')
    box-shadow: 0 -1px 0 0 rgba(255,255,255,.12)
  @else if($side=='left')
    box-shadow: -1px 0 0 0 rgba(255,255,255,.12)

=rounded-bottom($rad: 2px)
  border-bottom-left-radius: $rad
  border-bottom-right-radius: $rad


=input-placeholder($color:$inputColor)
  $tag: '.form-control'
  #{$tag}::-webkit-input-placeholder
    color: $color !important
  #{$tag}:-moz-placeholder
    color: $color !important
  #{$tag}::-moz-placeholder
    color: $color !important
  #{$tag}:-ms-input-placeholder
    color: $color !important
  #{$tag}[disabled]::-webkit-input-placeholder
    color: grey !important
  #{$tag}[disabled]:-moz-placeholder
    color: grey !important
  #{$tag}[disabled]::-moz-placeholder
    color: grey !important
  #{$tag}[disabled]:-ms-input-placeholder
    color: grey !important



%underline-none
  text-decoration: none
  &:hover
    text-decoration: none

=border($place, $color, $width)
  @if $place == 'all'
    border: $width solid $color
  @else
    border-#{$place}: $width solid $color

=placeholdersColor($color: $commonFontColor)
  input[type="text"], textarea
    &::-webkit-input-placeholder
      color: $color
    &::-moz-placeholder
      color: $color /* Firefox 19+ */
    &:-moz-placeholder
      color: $color /* Firefox 18- */
    &:-ms-input-placeholder
      color: $color